@model Student 
<div class="container mt-5">
    <img src="@Model.image" alt="Alternate Text" />
    <h3> id :</h3> @Model.id
    <h3> name :</h3> @Model.name
    <h3> age :</h3> @Model.age <br />
</div>