<div class="container"> 
    <h1>What is the climate change?</h1>
    <p>i'll tell u .. it is that hashish is very hot so he melten the snow on this earth </p>
    <br />
    <div class="card" style="width:250px; border-radius:15px">
        <img src="https://th.bing.com/th/id/R.4333b2f603ea914786cda7775947cc51?rik=Mph2L1921%2bJm2Q&pid=ImgRaw&r=0" alt="Alternate Text" width="150px" style="margin:10px auto;  border-radius:15px" />
        <p>this MF is the most wanted on the face of the earth</p>
    </div> 
    
</div>